<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-sm mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <%# Form to register%>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%# error message %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="space-y-5">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Register in our platform</h5>
        <%# Email %>
        <div>
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "name@company.com", required: true %>
        </div>
        <%# Password %>
        <div>
          <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
        </div>
        <%# Password confirmation %>
        <div>
          <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
        </div>
        <%# Sign up button %>
        <%= f.submit "Sign up", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <%# Link to login %>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          Already registered?
          <a href="<%= new_session_path(resource_name) %>" class="text-blue-700 hover:underline dark:text-blue-500">Login
            to your account</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
